html {background-color: black;}
  

header{border: 2px solid #c117a1;
    border-radius: 40%;
    background-color: whitesmoke;
    color:#c117a1;
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:larger;
  }
ul > li >a {list-style: none; text-decoration: none;
}
ul > li {
  display: inline;
  float: center;
  margin-right: 10%;
}
main {text-align: center;}
main > h2 {color: #c117a1; text-align:center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size:large;}

li > a {
  color: rgb(176, 13, 111);
}

a:hover {
  color: #0000;
}

h1 {
  color: rgb(176, 13, 111);
}

h2 {
  text-align: center;
  margin-top: 5%;
}

img {display: inline;
float: center;
margin-right: 2.5%; margin-left: 2.5%}

.star {max-width: 30px; max-height: 30px;}

p {background-color:#c117a1; color:white;}

.city {max-width: 300px; max-height: 300px;}

.rain {max-width: 300px; max-height: 300px;}

.umbrella {max-width: 300px; max-height: 300px;}

.rainforest {max-width: 300px; max-height: 300px; align-items: center;}

div {display: inline;}
